@use '../scss/partials/variable' as *;

@import '~bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";

/*********************
     RESET
*********************/
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;

}
a{
    text-decoration: none;

}
/*********************
     GENERAL
*********************/
body{
    font-family: 'Poppins', sans-serif;
}
.my-btn{
    background-color: $light-blue;
    border-radius: 10px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    padding: .5rem 1rem;
    border: 1px solid $light-blue;
}
.submit{
    background-color: $pink;
    border: 1px solid $pink;
    margin-right: .5rem;
}
.reset{
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
}
/*********************
     SIDEBAR
*********************/
.sidebar{
    // transition: width 300ms;
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $pink;
    z-index: 1000;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: $withe;
}
.sidebar-brand i{
    display: inline-block;
    padding-right: .85rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.1rem;
}
.sidebar-menu a.active{
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $pink;
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a i:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
/*********************
     MAIN CONTENT
*********************/
.main-content{
    // transition: margin-left 300ms;
    margin-left: 345px;
}
/*********************
     HEADER
*********************/
header{
    background-color: $withe;
    // transition: left 300ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 1000;
}
header h2{
    color: $text-dark;
}
header label i{
    font-size: 1.7rem;
    padding-right: 1rem;
    color: $pink;
    cursor: pointer;
}
.search-wrapper{
    border: 1px solid $light-borders;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper i{
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: $pink;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    font-family: inherit;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    background-color: $pink;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color: $text-gray;
}
/***************************
     MAIN - PROJECT INDEX
***************************/
main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background-color: $bg-gray;
    min-height: calc(100vh - 90px);
}
.dashboard-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.dashboard-card-single{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 2rem;
    border-radius: 2px;
}
.dashboard-card-single i{
    color: $pink;
    font-size: 3rem;
}
.dashboard-card-single h2{
    font-size: 3rem;
}
.dashboard-card-single span{
    color: $text-gray;
    font-size: 1.2rem;
}
.recent-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100% auto;
}
.project-card{
    background-color: $white;
    border-radius: 5px;
}
.project-card-header,
.project-card-body{
    padding: 1rem;
}
.project-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-borders;
}
.project-card-header button{
    background-color: $mustard-yellow;
    border-radius: 10px;
    color: $white;
    font-size: .8rem;
    font-family: inherit;
    padding: .5rem 1rem;
    border: 1px solid $mustard-yellow;
}
table{
    border-collapse: collapse;
}
thead tr th{
    border-top: 2px solid $light-blue;
    border-bottom: 2px solid $light-blue;
    background-color: $pink;
    color: $white;
}
thead th{
    font-weight: 700;
    padding: .25rem;

}
td{
    padding: .5rem .5rem;
    border-bottom: 1px solid $light-borders;
    font-size: .9rem;
    color: $text-dark;
}
td a{
    color: $pink;
}
td a:hover{
    color: $light-blue;
}
.fa-file-pen{
    color: $text-gray;
    font-size: 1.2rem;
}
.fa-trash-can,
.fa-arrow-right-from-bracket{
    font-size: 1.1rem;
    color: $pink;

}