/*********************
     COLOR PALETTES
*********************/

$pink: #fc5185;
$dark-blue: #364f6b;
$light-blue: #43dde6;
$mustard-yellow: #ebab01;
$bg-gray: #f1f5f9;
$withe: #ffffff;
$black: #000000;
$color-dark: #1d2231;

$light-borders: #ccc;

/*********************
     TEXT
*********************/
$text-dark:#222;
$text-gray: #8390a2;

/*********************
     ANIMATIONS
*********************/
$transition-speed: 300ms;